@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-29 15:12:25
 * @version $Id$
 */
#top{
	width: 100%;
	background-image: linear-gradient(left,#e94d19,#f18e1d,#f18e1d,#e94d19);
    background-image: -moz-linear-gradient(left,#e94d19,#f18e1d,#f18e1d,#e94d19);
    background-image: -webkit-linear-gradient(left,#e94d19,#f18e1d,#f18e1d,#e94d19);
}
.content{
	width: 1080px;
	margin: 0 auto;
}
.top-tell{
	float: right;
}
.top-tell p{
	display: inline-block;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
}
#nav .logo{
	float: left;
    padding: 10px 30px 10px 0;
}
#nav ul {
	float: left;
	line-height: 32px;
}
#nav ul li{
	display: inline-block;
	padding:20px 25px;
}
#nav ul li a{
	color: #333;
}
#nav ul li a:hover {
    color: #ee7718;
}
#nav ul li .cur{
	color: #ee7718;
}