@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-29 16:30:24
 * @version $Id$
 */
 #ifr-header{
 	width: 100%;
 	height: 106px;
 }
 #ifr-footer{
 	width: 100%;
 	height: 286px;
 }
 #banner{
 	width: 100%;
}
 #banner img{
 	display: block;
	width: 100%;
	height: 350px;
}
.content{
	width: 1080px;
	margin: 0 auto;
	color: #333;
}
.main-list ul{
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	border-right: solid 1px #ddd;
}
.main-list ul li{
    display: block;
    width: 214.8px;
    text-align: center;
    border-left: solid 1px #ddd;
    position: relative;
    float: left; 
}
.main-list ul li .list-show{
	position: absolute;
    top: 0;
    width: 100%;
    background-color: #ee7718;
    display: none;
}
.main-list ul li .list-show p{
	border: solid 1px #fff;
}
.main-list ul li .list-show p a{
	color: #fff;
}
.main-list ul li .list-show h4{
	color: #fff;
}
.main-list ul li a{
	color: #333;
}
.main-list ul li h4{
	line-height: 55px;
}
.main-list-pic{
	border: solid 2px #ddd;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto
}
.main-list-pic img{
	margin-top:20px; 
}
.main-list ul li p{
	width: 78%;
    margin: 20px auto;
    line-height: 30px;
    background-color: #ee7718;
    color: #fff;
    border-radius: 4px;
}
.main-list{
	margin: 40px 0;
}
.main-txt{
	background-image: -webkit-linear-gradient(left,#f9f9ff,#f9f9ff,#f5eae9,#f5eae9);
	padding: 30px 0;
	margin-bottom: 38px;
}
.txt-left{
	float: left;
    width: 58%;
    margin: 42px 33px 0 60px;
}
.txt-left h3{
	font-size: 30px;
    line-height: 80px;
}
.txt-left p{
	line-height: 28px;
}
