@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-30 13:56:44
 * @version $Id$
 */
 #ifr-header{
 	width: 100%;
 	height: 106px;
 }
 #ifr-footer{
 	width: 100%;
 	height: 286px;
 }
#banner{
	width: 100%;
}
#banner img{
	width: 100%;
	height: 200px;
}
#main{
	background-color: #ecf0f1;
	border-top: solid 1px #d4d4d4;
	margin-top: 42px;
}
.main-left{
	width: 260px;
    float: left;
    border: solid 1px #ddd;
}
.left-list {
	border-bottom: dotted 1px #d4d4d4;
	padding: 15px 0;	
}
.left-list h4{
	color: #adadae;
    text-indent: 28px;	
    cursor: pointer;
}
/*#main .list-hide{
	display: none;
}*/
#main .left-list h5 a{
	text-indent: 54px;
}
.left-list ul{
	color: #333;
	text-indent: 58px;
	margin-top: 10px;
}
.left-list ul li{
	line-height: 36px;
	border-bottom: solid 1px #ddd;
}
.left-list ul li:last-child {
	border-bottom: 0;
}
.left-list ul li:nth-child(1) {
	border-top: solid 1px #ddd;
}
.left-list ul li a{
	display: block;
	color: #333;
	text-decoration: none;
	text-indent: 94px;
}
.left-list ul li a:hover{
	background-color: #d4d4d4;
}
.main-left h5:hover{
	background-color: #d4d4d4;
}
.acitv{
	background-color: #fff;
	box-shadow: 2px 2px 6px #dadada;
}
/*main-right*/
.main-right{
	background-color: #fff;
	float: left;
    width: 818px;
    height: 1474px;
    overflow: auto;
    box-shadow: 2px 1px 4px #dadada;
    margin-bottom: 30px;
}
.list-top{
	text-indent: 32px;
    line-height: 32px;
    padding: 60px 30px;
}
.right-list{
	padding:50px 30px;
	position: relative;
	padding-left: 86px;
}
.main-right h3{
	color: #333;
    font-size: 18px;
    line-height: 46px;
    margin-bottom: 20px;
	padding-bottom: 5px;
}

.main-right h3 img{
	width: 40px;
    margin-right: 10px;
    position: absolute;
    left: 28px;
}
.main-right h4{
	line-height: 30px;
}
.main-right p{
	text-indent: 30px;
	line-height: 30px;
}
.li-one h1{
	text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.li-one ul li{
	 padding-left: 30px;
}
.li-two ul li{
	display: inline-block;
    width: 186.75px;
    line-height: 32px;
    padding-left: 30px;
}
.li-three ul{
	display: inline-block;
	width: 215px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.li-three ul li,.li-one ul li{
	line-height: 30px;
}
.li-four ul li,.li-five ul li{
	line-height: 30px;
	padding-left: 30px;
}
.border-a{
	border-bottom: solid 1px #f9da78;
}
.border-b{
	border-bottom: solid 1px #a3da83;
}
.border-c{
	border-bottom: solid 1px #9acae7;
}
.border-d{
	border-bottom: solid 1px #72cfc7;
}
.border-e{
	border-bottom: solid 1px #faa24b;
}
.border-f{
	border-bottom: solid 1px #02b8cd;
}
.border-g{
	border-bottom: solid 1px #e85170;
}
.border-h{
	border-bottom: solid 1px #8d5690;
}
.border-i{
	border-bottom: solid 1px #b0cc78;
}

.about-right{
	height: 700px;
}
.service-right{
	height: 900px;
}
.about-list h4{
	text-align: center;
	text-indent: 0;
}
